/* *{
    background-color: rgb(0, 0, 0);
} */


/* DRY - Do not repeat yourself */

/* #partha{
  color: rgb(17, 121, 121);
} */

/* #head1{
    color: rgb(193, 111, 12);
}

#head4{
     color: rgb(193, 111, 12);
} */

/* h1{
    color: black;
} */
/* 
#head1{
    color: blueviolet;
}

.cse3rd{
    color: rgb(193, 111, 12);
} */


/* .container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: red;
 height: 300px;
 gap: 10px;
 align-items: center;
 border: 7px solid rgb(0, 0, 0);
 border-style: ;
 border-color: ;
 border-width: ;
 border-radius: 10px;
} */

/* .item{
   height: 100px;
   background-color: blue;
   width: 100px;
} */

/* #helo{ */
    /* margin: 10px; */
    /* display: inline-block; */
   /* margin: 30px 20px 15px 10px; */
   /* margin-top: 30px ;
   margin-bottom: 30px; */
    /* border: 2px solid rgb(0, 0, 0); */
 /* border-style: ;
 border-color: ;
 border-width: ; */
  /* padding: 20px;   */
/* } */

/* #hola{
   margin: 30px;
} */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    padding: 0px 25px;
}

/*-------- HEADER --------*/
#main-header {
    background-color: rgb(0, 126, 0);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px;
}

#header-title {
    color: white;
    font-size: 40px;
}

/*-------- MAIN CONTENT --------*/
#main {
    border: 1px solid rgb(180, 180, 180);
    padding: 20px;
    margin-top: 20px;
}

.title {
    margin: 20px 0px;
    font-size: 30px;
}

.title:first-child {
    margin-top: 0px;
}

input {
    height: 30px;
    border: 1px solid rgb(180, 180, 180);
}

.btn {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100px;
    border: 0px;
    cursor: pointer;
}

.list-group-item {
    border-bottom: 1px solid rgb(180, 180, 180);
    list-style-type: none;
    margin-bottom: 20px;
}

.list-group-item:last-child {
    margin-bottom: 10px;
}