/* *{
    background-color: rgb(0, 0, 0);
} */


/* DRY - Do not repeat yourself */

/* #partha{
  color: rgb(17, 121, 121);
} */

/* #head1{
    color: rgb(193, 111, 12);
}

#head4{
     color: rgb(193, 111, 12);
} */

/* h1{
    color: black;
} */
/* 
#head1{
    color: blueviolet;
}

.cse3rd{
    color: rgb(193, 111, 12);
} */


.container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: red;
 height: 300px;
 gap: 10px;
 align-items: center;
 border: 7px solid rgb(0, 0, 0);
 /* border-style: ;
 border-color: ;
 border-width: ; */
 border-radius: 10px;
}

.item{
   height: 100px;
   background-color: blue;
   width: 100px;
}