/* BASE STYLES */
/* :root {
  --clr-dark: #000000;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
} */

/* .item {
  width: 150px;
  height: 150px;
  background-color: #fb7185;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: 10px solid var(--clr-accent);
  border-radius: 10px;
} */

/* END OF BASE STYLES */


/* .item-1{
    flex-shrink: 2;
} */



/* ::placeholder{

} */

/* a:link{
  background-color: brown;
}

a:hover{
  background-color: wheat;
}

a:active{
  background-color: aqua;
}

a:visited{
  background-color: rgb(19, 19, 87);
} */


/* button:hover{
  background-color: blue;
} */


#box{
   border: 3px solid red;
   width: 250px;
   height: 250px;
   font-size: 200px;
   text-align: center;
   background-color: blueviolet;


   /* transform:  translateX(-150px);
   transform: translateY(-150px); */
   /* transform: translate(-150px, -150px); */
   /* transform: rotateX(100deg); */
   /* transform: rotateY(120deg); */
   /* transform: rotateZ(120deg); */
   /* transform: rotate(90deg, 180deg, 90deg); */
   /* transform: scaleX(3); */
   /* transform: scaleY(2); */
   /* transform: scaleZ(); */
   /* transform: scale(1,1); */
   /* transform: skew() */

   /* transform: matrix(scaleX, skewX, skewY, scaleY, translateX, translateY); */

   /* animation: myAni;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-play-state: running;
   animation-timing-function: ease; */
  animation: myAni 5s  delay infinite;
}

#box:hover {
  animation-play-state: paused;
}

@keyframes myAni{
  from{
    margin-left: 100%;
  }
  to{
    margin-left: 0%;
  }
}